@charset "UTF-8";
@import url(fonts/abigate\ desgo.otf);
@import url(fonts/abigate\ desgo\ italic.ttf);
@import url(fonts/Butler_Medium.otf);
@import url(fonts/Butler_Ultra_Light.otf);
@import url(fonts/Butler_Bold.otf);
@import url(fonts/Butler_Black.otf);
@font-face {
    font-family: abigate;
    src: url(fonts/abigate\ desgo.otf) format(opentype) url(fonts/abigate\ desgo\ italic.ttf) format(truetype);
}
@font-face {
    font-family: butler;
    src: url(fonts/Butler_Medium.otf) format(opentype) url(fonts/Butler_Ultra_Light.otf) format(opentype)  url(fonts/Butler_Bold.otf) format(opentype) url(fonts/Butler_Black.otf) format(opentype);
}

:root {
    --cor1: #F39200;
    --cor2: #2F2E2E;
    --font-destaque: 'abigate';
    --font-padrao: 'butler';
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    padding: 10px;
    width: 100%;
    background-color: #2F2E2E;
}

header > img{
    margin: auto;
    width: 100px;
    display: block;
    padding: 20px;
}

nav {
    font-family: var(--font-destaque);
    text-align: center;
    font-size: 1em;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

#line {
    background-color: #F39200;
    width: 100%;
    height: 2px;
}

body {
    background-color: darkgray;
}

h1 {
    font-family: var(--font-destaque);
    font-size: 3em;
    padding: 10px;
    font-weight: bolder;
    text-align: center;

}

h2 {
    font-family: var(--font-padrao);
    font-size: 1em;
    padding: 10px;
    font-weight: bolder;
}

p {
    font-family: var(--font-padrao);
    padding: 10px 10px;
    background-color: white;
    text-align: center;
    
}

picture > img {
    margin: auto;
    padding: 0px;
}

div.sobre {
    background-image: url(../images/profile-g.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 100px;
    background-size: cover;
    background-attachment:fixed;
    margin: auto;
    max-width: 1000px;
    display: block;
}

#left {
    width: 40%;
    display: inline-block;
    background-color: white;
}

#right {
    width: 40%;
    display: inline-block;
    
}